@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

@layer base{
    .card{
        @apply bg-slate-600 rounded-xl p-5 flex flex-col hover:scale-105; 
    }
}